extends headers/header
block head
  title New Game


block content

  .container
    .col-md-6.well.center
      form(name='userForm', action='/api/room/create', method='post')
        h2 Create New Room
          h4
            p Title
            .controls
              input.col-md-12.center(type='text', placeholder='BEST ROOM EVER!', maxlength="50", required, name='title')
            br
            p Password (optional)
            .controls
              input.col-md-12.center(type='password', placeholder='No, it is not stored in plain text', maxlength="50", name='password')
            br
            p Maximum number of players
            .controls
              input.col-md-12.center(type='number', value=10, required, name='maxPlayers')
            br
            p Number of cards to win
            .controls
              input.col-md-12.center(type='number', value=7, required, name='cardsToWin')
            br
            p Number of cards in hand
            .controls
              input.col-md-12.center(type='number', value=7, required, name='numberInHand')
            br
            .btn-toolbar
              .btn-group
                button.btn.btn-large.btn-primary(type='submit', id='submitbutton') Register
              .btn-group.pull-right
                a.btn.btn-large.btn-large(href='/') Cancel