//- Use this template when you to show navigation for users who have not authenticated 

doctype html
html
  include styles
  include scripts
  block head

  body(style='padding-top:80px;')
    include navigation
    include alerts
    block content


