.container.span12
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        a.brand(href='/')
          img(id='Card Against Humanity', class='input-img', src='/images/CAHLogo.png', width="200px")
        ul.nav
          li
            a(href='http://cardsagainsthumanity.com/') Cards Against Humanity
          if user
            li
              a(href='/room/create') Start a Game
        ul.nav.pull-right
          li
            .container-fluid
              .row
                if !user
                  .span2
                    a.btn.btn-block.btn-info(href='/register') Create Account
          li
            if user
              a.dropdown-toggle(data-toggle='dropdown',href='#')=user.user
              ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                li(role='presentation')
                  a(role='menuitem', tabindex='-1', href='/user/account') Manage Account
                li(role='presentation')
                  a(role='menuitem', tabindex='-1', href='/api/user/logout') Logout
            else
              a.account(href='/login') Login
