script.
  /*
  link(href='/lib/flat-ui/bootstrap/css/bootstrap.css', rel='stylesheet')
  link(href='/lib/flat-ui/css/flat-ui.css', rel='stylesheet')
  link(href='/lib/datepicker/css/jquery-ui-1.10.3.custom.min.css', rel='stylesheet')
  link(href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css', rel='stylesheet')
  link(href='/lib/wizard.css', rel='stylesheet')
  link(href='/lib/center.css', rel='stylesheet')
  link(href='/lib/style.css', rel='stylesheet')
  /*